apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "hazelcast-cluster.fullname" . }}-config
  labels:
    {{- include "hazelcast-cluster.labels" . | nindent 4 }}
data:
  hazelcast.yaml: |
    hazelcast:
      cluster-name: {{ .Values.clusterName }}

      network:
        port:
          auto-increment: true
          port: {{ .Values.service.port }}

        join:
          multicast:
            enabled: false
          kubernetes:
            enabled: true
            service-dns: {{ include "hazelcast-cluster.headlessFQDN" . }}

        rest-api:
          enabled: true
          endpoint-groups:
            CLUSTER_READ:
              enabled: true
            CLUSTER_WRITE:
              enabled: true
            HEALTH_CHECK:
              enabled: true

      {{- if .Values.partitionGroup.enabled }}
      partition-group:
        enabled: true
        group-type: {{ .Values.partitionGroup.type }}
      {{- end }}

      {{- if .Values.backPressure.enabled }}
      properties:
        hazelcast.backpressure.enabled: true
        hazelcast.backpressure.backoff.timeout.millis: 60000
        hazelcast.backpressure.max.concurrent.invocations.per.partition: 100
      {{- end }}

      jet:
        enabled: true

      map:
        "*_PENDING":
          backup-count: 1
          event-journal:
            enabled: true
            capacity: 10000

        "*_ES":
          backup-count: 1
          eviction:
            eviction-policy: LRU
            max-size-policy: FREE_HEAP_PERCENTAGE
            size: 25

        "*_VIEW":
          backup-count: 1
          read-backup-data: true
          eviction:
            eviction-policy: LRU
            max-size-policy: FREE_HEAP_PERCENTAGE
            size: 25

        "*_COMPLETIONS":
          backup-count: 1
          time-to-live-seconds: 3600
          eviction:
            eviction-policy: LRU
            max-size-policy: PER_NODE
            size: 50000

        "saga-state":
          backup-count: 1
          in-memory-format: BINARY
          time-to-live-seconds: 3600
          max-idle-seconds: 600
          eviction:
            eviction-policy: LRU
            max-size-policy: PER_NODE
            size: 50000
