replicaCount: 1

image:
  repository: hazelcast-microservices/order-service
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8083

resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "1000m"

serviceAccount:
  create: true
  name: ""
  annotations: {}
