apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "inventory-service.fullname" . }}-config
  labels:
    {{- include "inventory-service.labels" . | nindent 4 }}
data:
  SPRING_PROFILES_ACTIVE: {{ .Values.spring.profiles | quote }}
  JAVA_OPTS: "-Xms{{ .Values.jvm.xms }} -Xmx{{ .Values.jvm.xmx }} {{ .Values.jvm.opts }}"
  HAZELCAST_CLUSTER_NAME: {{ .Values.hazelcast.clusterName | quote }}
  HAZELCAST_CLUSTER_MEMBERS: "{{ .Release.Name }}-hazelcast-cluster:{{ .Values.hazelcast.port }}"
  {{- if .Values.tracing.enabled }}
  OTEL_EXPORTER_OTLP_ENDPOINT: {{ .Values.tracing.endpoint | quote }}
  OTEL_SERVICE_NAME: "inventory-service"
  {{- end }}
