hazelcast:
  cluster-name: ecommerce-cluster

  network:
    port:
      auto-increment: true
      port: 5701

    join:
      multicast:
        enabled: false
      tcp-ip:
        enabled: true
        member-list:
          - hazelcast-1
          - hazelcast-2
          - hazelcast-3

    rest-api:
      enabled: true
      endpoint-groups:
        CLUSTER_READ:
          enabled: true
        CLUSTER_WRITE:
          enabled: true
        HEALTH_CHECK:
          enabled: true

  jet:
    enabled: true

  map:
    "*_PENDING":
      backup-count: 1
      event-journal:
        enabled: true
        capacity: 10000

    "*_ES":
      backup-count: 1
      eviction:
        eviction-policy: LRU
        max-size-policy: FREE_HEAP_PERCENTAGE
        size: 25

    "*_VIEW":
      backup-count: 1
      read-backup-data: true
      eviction:
        eviction-policy: LRU
        max-size-policy: FREE_HEAP_PERCENTAGE
        size: 25

    "*_COMPLETIONS":
      backup-count: 1
      time-to-live-seconds: 3600
      eviction:
        eviction-policy: LRU
        max-size-policy: PER_NODE
        size: 50000

    "saga-state":
      backup-count: 1
      in-memory-format: BINARY
      time-to-live-seconds: 3600
      max-idle-seconds: 600
      eviction:
        eviction-policy: LRU
        max-size-policy: PER_NODE
        size: 50000
