apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "account-service.fullname" . }}-config
  labels:
    {{- include "account-service.labels" . | nindent 4 }}
data:
  SPRING_PROFILES_ACTIVE: {{ .Values.spring.profiles | quote }}
  JAVA_OPTS: "-Xms{{ .Values.jvm.xms }} -Xmx{{ .Values.jvm.xmx }} {{ .Values.jvm.opts }}"
  HAZELCAST_CLUSTER_NAME: {{ .Values.hazelcast.clusterName | quote }}
  HAZELCAST_CLUSTER_MEMBERS: "{{ .Release.Name }}-hazelcast-cluster:{{ .Values.hazelcast.port }}"
  {{- if .Values.tracing.enabled }}
  OTEL_EXPORTER_OTLP_ENDPOINT: {{ .Values.tracing.endpoint | quote }}
  OTEL_SERVICE_NAME: "account-service"
  {{- end }}
  {{- if .Values.persistence }}
  FRAMEWORK_PERSISTENCE_ENABLED: {{ .Values.persistence.enabled | default "false" | quote }}
  {{- if .Values.persistence.datasourceUrl }}
  SPRING_DATASOURCE_URL: {{ .Values.persistence.datasourceUrl | quote }}
  SPRING_DATASOURCE_USERNAME: {{ .Values.persistence.datasourceUsername | default "postgres" | quote }}
  SPRING_DATASOURCE_PASSWORD: {{ .Values.persistence.datasourcePassword | default "postgres" | quote }}
  {{- end }}
  {{- if not .Values.persistence.enabled }}
  SPRING_AUTOCONFIGURE_EXCLUDE: "org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration,org.springframework.boot.autoconfigure.flyway.FlywayAutoConfiguration,org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration"
  {{- end }}
  {{- else }}
  FRAMEWORK_PERSISTENCE_ENABLED: "false"
  SPRING_AUTOCONFIGURE_EXCLUDE: "org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration,org.springframework.boot.autoconfigure.flyway.FlywayAutoConfiguration,org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration"
  {{- end }}
  {{- if .Values.embeddedClustering.enabled }}
  HAZELCAST_EMBEDDED_CLUSTERING_ENABLED: "true"
  HAZELCAST_EMBEDDED_SERVICE_DNS: {{ include "account-service.embeddedHzHeadlessFQDN" . | quote }}
  HAZELCAST_EMBEDDED_PORT: {{ .Values.embeddedClustering.port | quote }}
  {{- end }}
