spring:
  cloud:
    gateway:
      routes:
        # Account Service
        - id: account-service
          uri: http://account-service:8081
          predicates:
            - Path=/api/customers/**

        # Inventory Service
        - id: inventory-service
          uri: http://inventory-service:8082
          predicates:
            - Path=/api/products/**

        - id: inventory-saga
          uri: http://inventory-service:8082
          predicates:
            - Path=/api/saga/inventory/**

        # Order Service
        - id: order-service
          uri: http://order-service:8083
          predicates:
            - Path=/api/orders/**

        - id: order-sagas
          uri: http://order-service:8083
          predicates:
            - Path=/api/sagas/**

        - id: order-metrics
          uri: http://order-service:8083
          predicates:
            - Path=/api/metrics/**

        # Payment Service
        - id: payment-service
          uri: http://payment-service:8084
          predicates:
            - Path=/api/payments/**

        - id: payment-saga
          uri: http://payment-service:8084
          predicates:
            - Path=/api/saga/payment/**
