apiVersion: 1

contactPoints:
  - orgId: 1
    name: default-receiver
    receivers:
      - uid: default-email
        type: email
        isDefault: true
        settings:
          addresses: admin@localhost
